# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: 
      - '**'
  pull_request:
    branches: [ "main" ]

env:
  ENVIRONMENT: 'test'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install pnpm
      run: |
        npm install -g pnpm

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'pnpm'

    - name: Install dependencies
      run: pnpm install

    - name: Build the project
      run: pnpm run build

    # Uploads dist folder in order to be used in tests job
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dist-artifacts
        path: dist

  eslint:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4

    - name: Install pnpm
      run: |
        npm install -g pnpm

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'pnpm'

    - name: Install dependencies
      run: pnpm install

    - name: Run eslint
      run: pnpm run lint

  tests:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4

    - name: Install pnpm
      run: |
        npm install -g pnpm

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'pnpm'

    # Download dist folder in the appropiate plae to run tests below
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: dist-artifacts
        path: dist

    - name: Install dependencies
      run: pnpm install

    - name: Create .env file
      run: echo "${{ secrets.ENV_FILE }}" > .env

    - name: Run tests
      run: pnpm run test